<app-admin-options></app-admin-options>
<div class="wrapper">
    <div class="cont_prof">
        <h1 class="view_prof_h">Admin profile</h1>
        
       
        <div class="prof_cont">
            <p class="view_prof_inp prof_lable">Admin Email</p>
            <p class="view_prof_inp">{{profObj.adminEmail}}</p> 
        </div>
        <div class="prof_cont">
            <p class="view_prof_inp prof_lable">Admin Name</p>
        <p class="view_prof_inp">{{profObj.adminName}}</p> 
        </div>
        <div class="prof_cont">
            <p class="view_prof_inp prof_lable">Admin Username</p>
            <p class="view_prof_inp">{{profObj.adminUsername}}</p>
        </div>
        <div class="prof_cont">
            <p class="view_prof_inp prof_lable">Admin Password</p>
            <p class="view_prof_inp">{{profObj.adminPassword}}</p> 
        </div>
    

      
      
    </div>
</div>