<div class="index_layout">
    <app-nav-bar [display]="false" [displayLogoBack]="true" ></app-nav-bar>

    <div class="container">
        <div class="main_text-wrap">
            <h1 class="main_text main_text_title">Unlimited movies, TV shows, and more.</h1>
            <h3 class="main_text main_text_subtitle">Watch anywhere. Cancel anytime.</h3>
            <h4 class="main_text main_text_info">Ready to watch? Enter your email to create or restart your membership.</h4>
        </div>
        <div class="input_signUp" >
            <form #signUp="ngForm" (submit)="onFormSignUp(signUp.value)" class="emailForm">
                <div class="singUp_email">
                    <input 
                    placeholder="Email"
                        type="text" 
                        name="email" 
                        class="form-control" 
                        (ngModel) = "email" 
                        #email="ngModel"
                        required
                    >
                </div>
                <input [disabled]="signUp.invalid" type="submit" value="Get Sterted >" class=" btn-EmailSub">
            </form>
        </div>

    </div>
    <footer>
        <a href="/adminhome">For worker</a>
    </footer>
</div>
