<div class="layout_brow">
  
    <app-nav-bar-home></app-nav-bar-home>
    <button (click)="goBack()" class="goBack">Go back</button>
    <div class="contener">

        <app-category
            (choosed)="onChooseCategory($event)"
            [catList]="filtredCategorys"
            [selectedCat]="selectedCat"
        ></app-category>

        <ul class="list-unstyled">
            <app-single-video 
                *ngFor="let post of filtredPosts" 
                [post]="post"
                (choosed)="onFavClick()"
            ></app-single-video>
        </ul>
        
    </div>

</div>


