.wrap {
    margin-top: 30px;
}

.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.829)), url('/assets/MOVIEPIC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.goBack{
    background: transparent;
    padding: 10px 25px;
    margin-top: 10px;
    margin-left: 15px;
    color: white;
    border: 1px solid white;
}

.goBack:hover{
    color: rgb(223, 78, 78);;
    border: 1px solid rgb(223, 78, 78);
}